In [46]:
import pandas as pd 
data = pd.read_csv('dirtydata.csv') #read csv file

data['Calories']=data['Calories'].fillna(data['Calories'].mean()) #Take mean of Blanks
data['Calories'].fillna(4, inplace=True)

data['Date']=data['Date'].dropna() #drop na in Date
data.dropna(subset=['Date'], inplace=True)

data.loc[data.Duration>100,'Duration']=75 #Convert anything more than 100 to 75
data = data.dropna(subset=['Date']) #drop NaN in Date
data['Date']=pd.to_datetime(data['Date']) #convert to datetime
data['Duration']=data['Duration'].replace(450,58) #replace 450 wiht 58
data['Duration'].replace(450, 58, inplace=True)

data[data['Pulse']>100]  #filter Pulse>100
data[['Duration','Date','Pulse']] #specific columns

    Duration       Date  Pulse
0         60 2020-12-01    110
1         60 2020-12-02    117
2         60 2020-12-03    103
3         45 2020-12-04    109
4         45 2020-12-05    117
5         60 2020-12-06    102
6         60 2020-12-07    110
7         75 2020-12-08    104
8         30 2020-12-09    109
9         60 2020-12-10     98
10        60 2020-12-11    103
11        60 2020-12-12    100
12        60 2020-12-12    100
13        60 2020-12-13    106
14        60 2020-12-14    104
15        60 2020-12-15     98
16        60 2020-12-16     98
17        60 2020-12-17    100
18        45 2020-12-18     90
19        60 2020-12-19    103
20        45 2020-12-20     97
21        60 2020-12-21    108
23        60 2020-12-23    130
24        45 2020-12-24    105
25        60 2020-12-25    102
26        60 2020-12-26    100
27        60 2020-12-27     92
28        60 2020-12-28    103
29        60 2020-12-29    100
30        60 2020-12-30    102
31        60 2020-12-31     92

In [43]:

#saves to sql server 

import pandas as pd
from sqlalchemy import create_engine

# SQL Server connection details
server = "DESKTOP-KFV9TLF\\MSSQLSERVEROO"
database = "TEST"

# Create SQLAlchemy engine using Windows Authentication
connection_string = f"mssql+pyodbc://@{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server"
engine = create_engine(connection_string)

# Step 1: Extract - Load new data from CSV
data = pd.read_csv('dirtydata.csv') #read csv file

data['Calories']=data['Calories'].fillna(data['Calories'].mean()) #Take mean of Blanks
data['Calories'].fillna(4, inplace=True)

data['Date']=data['Date'].dropna() #drop na in Date
data.dropna(subset=['Date'], inplace=True)

data.loc[data.Duration>100,'Duration']=75 #Convert anything more than 100 to 75
data = data.dropna(subset=['Date']) #drop NaN in Date
data['Date']=pd.to_datetime(data['Date']) #convert to datetime
data['Duration']=data['Duration'].replace(450,58) #replace 450 wiht 58
data['Duration'].replace(450, 58, inplace=True)

filter = data[data['Pulse']>100]  #filter Pulse>100
 
 

# Step 3: Load - Insert into SQL Server
# filter.to_sql("new_sales_dataz", engine, if_exists="replace", index=False)
filter[['Duration', 'Date', 'Pulse']].to_sql("new_sales_datab", engine, if_exists="replace", index=False)

print("Incremental ETL process completed!")

Incremental ETL process completed!

In [44]:
#reads from sql server

from sqlalchemy import create_engine  

connection_string = f"mssql+pyodbc://@{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server"
engine = create_engine(connection_string)

with engine.connect() as conn, conn.begin():  
    data12 = pd.read_sql_table("new_sales_datab", conn)  
    
print(data12)

    Duration       Date  Pulse
0         60 2020-12-01    110
1         60 2020-12-02    117
2         60 2020-12-03    103
3         45 2020-12-04    109
4         45 2020-12-05    117
5         60 2020-12-06    102
6         60 2020-12-07    110
7         75 2020-12-08    104
8         30 2020-12-09    109
9         60 2020-12-11    103
10        60 2020-12-13    106
11        60 2020-12-14    104
12        60 2020-12-19    103
13        60 2020-12-21    108
14        60 2020-12-23    130
15        45 2020-12-24    105
16        60 2020-12-25    102
17        60 2020-12-28    103
18        60 2020-12-30    102

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import schedule
import time
import logging

# Setup logging
logging.basicConfig(filename='etl_process.log', level=logging.INFO)

# SQL Server connection details
server = "DESKTOP-KFV9TLF\\MSSQLSERVEROO"
database = "TEST"

# Create SQLAlchemy engine using Windows Authentication
connection_string = f"mssql+pyodbc://@{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server"
engine = create_engine(connection_string)

def etl_process():
    try:
        # Step 1: Extract - Load new data from CSV
        logging.info("Starting extraction process...")
        data = pd.read_csv('dirtydata.csv')  # Read CSV file
        logging.info(f"Extracted {len(data)} rows.")

        # Step 2: Transform - Clean data
        logging.info("Starting data transformation process...")
        data['Calories'] = data['Calories'].fillna(data['Calories'].mean())  # Fill NaN in Calories with the mean value
        data['Calories'].fillna(4, inplace=True)  # Replace any remaining NaNs in Calories with 4

        data['Date'] = data['Date'].dropna()  # Drop NaN in Date
        data.dropna(subset=['Date'], inplace=True)  # Drop rows with NaN in Date

        data.loc[data.Duration > 100, 'Duration'] = 75  # Convert anything more than 100 in Duration to 75
        data['Date'] = pd.to_datetime(data['Date'])  # Convert Date to datetime format
        data['Duration'] = data['Duration'].replace(450, 58)  # Replace 450 with 58 in Duration

        # Filter: Pulse > 100
        filtered_data = data[data['Pulse'] > 100]
        logging.info(f"Filtered data to {len(filtered_data)} rows.")

        # Step 3: Load - Insert into SQL Server
        logging.info("Starting data load process...")
        filtered_data[['Duration', 'Date', 'Pulse']].to_sql("new_sales_data", engine, if_exists="replace", index=False)
        logging.info("Data loaded successfully into SQL Server.")

    except Exception as e:
        logging.error(f"ETL process failed: {e}")
        raise  # Reraise the exception after logging

    logging.info("ETL process completed successfully!")  # Log successful completion
    print("ETL process completed!")

# Schedule the job to run weekly, for example, every Monday at 8:00 AM
schedule.every().monday.at("08:00").do(etl_process)

# Run the scheduled tasks
while True:
    schedule.run_pending()
    time.sleep(1)